<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucky.ssm.dao.CompanyDaoInter">
	
	<!-- 1、查询所有公司 -->
	<select id="searchAllCompany" resultMap="companymapper">
		SELECT `comNo`,`comName`,`comAddress`,`comPhone`,`comCotext` FROM company
	</select>
	
	<resultMap type="Company" id="companymapper">
		<id property="comNo" column="comNo"/>
		<result property="comName" column="comName"/>
		<result property="comAddress" column="comAddress"/>
		<result property="comPhone" column="comPhone"/>
		<result property="comContext" column="comContext"/>
	</resultMap>
	
	<!-- 根据公司编号删除公司信息 -->
	<delete id="deleteCompany" parameterType="Company">
		DELETE FROM company WHERE comNo = #{comNo}
	</delete>

</mapper>