<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!--1、 配置Datasource -->
	
	
	<!-- 2、 配置SessionFactory -->
	
	
	<!--3、 配置Dao bean -->
	
	
 	<!--4、 配置Service bean -->
	
	
	<!-- 5、声明式事务bean -->
	
	
	<!-- 6、配置aop切面 -->
	
	
	<!-- 7、配置事务的通知 -->
	
</beans>














